* {
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow: hidden;
  padding: 0;
}
canvas {
  display: block;
  position: relative;
  z-index: 1;
}
button {
  left: 1em;
  position: absolute;
  top: 1em;
  z-index: 9999;
}
